<p style="color: green"><%= notice %></p>
 <div class="d-flex justify-content-center" style="margin-top:100px">
          <div>
            <h1>Project</h1>
                <p style=" margin-left:20px;">
       <%= link_to "New project", new_project_path, class: "btn btn-primary" %><br>
    </p>
        </div>
    </div>




 <h5 style="margin-left:100px">All project</h5>

<div class="card text-white bg-secondary mb-3" style="max-width: 25rem; margin-left:100px;">
   
  <div id="projects" class="">
  <% @projects.each do |project| %>
    <% if project.user_id == current_user.id %>
  
    <%= render project %>
    <p style=" margin-left:20px;">
      <%= link_to "Show this project", project, class: "btn btn-primary" %>
    </p>


    <p style=" margin-left:20px;">
       <%= link_to "Back", root_path, class: "btn btn-primary"%>
    </p>
    <% end %>
  <% end %>
</div>
</div>